.tree_wrapper {
    margin: 40px 0;
    height: 100%;

    .tree_list {
        border-radius: 10px;
        background-color: var(--background-color-light-grey);
        border: 1px solid var(--border-line);
        height: 100%;

        .item {
            max-width: max-content;
            .node {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-left: 20px;
                &_title {
                    font-weight: bold;
                }
                min-height: 36px;
                height: 50px;
            }
            .node_parent {
                cursor: pointer;
            }
            .thumbnail {
                height: 40px;
                object-fit: cover;
                margin-left: 28px;
            }
        }
    }
}