.tree_wrapper {
    margin: 40px 0;

    .tree_list {
        &::-webkit-scrollbar {
            display: none;
        }

        border-radius: 10px;
        background-color: var(--background-color-light-grey);
        border: 1px solid var(--border-line);
        width: 100%;

        .item {
            .node {
                display: flex;
                align-items: center;
                gap: 8px;
                padding-left: 20px;
                &_title {
                    font-weight: bold;
                }
                min-height: 36px;
                height: 50px;
            }
            .thumbnail {
                height: 40px;
                object-fit: cover;
                margin-left: 28px;
            }
        }
    }
}