.wrapper {
    background-color: var(--background-color-blue);

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &_radio {
            div {
                background-color: inherit;
                padding: 0;

                h2 {
                    color: var(--color-white);
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}